/* Author Mahmoud Ajeeb <mahmoud.ajeeb@outlook.com> */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: red 1px solid; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  color: rgb(226, 226, 226);
}

.logo {
  color: rgb(41, 39, 39);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.logo img {
  height: 8vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links a {
  color: rgb(41, 39, 39);
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.nav-links li {
  list-style: none;
}

.nav-links li:hover {
  font-weight: bolder;
  background-color: rgb(226, 226, 226);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: rgb(41, 39, 39);
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;
  }
  .white {
    color: whitesmoke !important;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkShow {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* nav end */

/* hero start */

#hero1 {
  background: url(../assets/2019_silverado_gal_ext_01.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero-accessories {
  background: url(../assets/hero-shaheen.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero1 {
  background: url(../assets/2019_silverado_gal_ext_01.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero2 {
  background: url(../assets/2018_corvette_z06_masthead.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#hero3 {
  background: url(../assets/acadia-modal.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero,
.content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  min-height: 600px;
  position: relative;
}

.hero .inner {
  background: rgba(0, 0, 0, 0.3);
}

.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

.hero h1,
.hero p {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
}
.letter-3 {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
}
.content h1,
.content p {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #333;
}

h1 {
  margin: 0px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 32px;
  padding: 0px 20px;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  padding: 0px 20px;
}

/* hero end   */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
